root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# IntelliJ IDEA
ij_any_line_comment_at_first_column = false
ij_any_line_comment_add_space = true
ij_any_line_comment_add_space_on_reformat = true
ij_any_block_comment_at_first_column = false
ij_any_block_comment_add_space = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_formatter_tags_enabled = true

[*.properties]
ij_properties_keep_blank_lines = true

[{*.yml, *.yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{*.txt, *.log}]
insert_final_newline = false

[*.{ts,js,vue,css}]
indent_size = 2
