/* Import default fonts and icons */
@import url(../fonts/AlibabaPuHuiTi/AlibabaPuHuiTi-3-55-Regular.css);
@import url(../fonts/MaterialDesignIcons/materialdesignicons.css);

/* Global font setting */
* {
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;
}

body {
  margin: 0;
  padding: 0;
}

/* Disable user select text */
.unable-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Clearfix */
.clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}

/* Solve the problem of black dot spacing in password input boxes */
input[type=password] {
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", Tahoma, "AlibabaPuHuiTi-3-55-Regular", Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;
}
